name: CI

on:
    push:
        branches:
            - main
            - master
        paths-ignore:
            - "docs/**"
            - "*.md"

jobs:
    # build / test
    Build:
        name: Build and Test Package
        runs-on: ubuntu-latest
        steps:
            # Checkout Repo
            - uses: actions/checkout@v4

            # Setup Node
            - uses: actions/setup-node@v4
              with:
                  node-version: 20

            # Install Dependencies
            - run: npm ci

            # Lint Code
            - run: npm run lint

            # Build Package
            - run: npm run build

            # Run Tests with Coverage
            - run: npm run test:coverage

            # Report Coverage
            - name: Coveralls GitHub Action
              uses: coverallsapp/github-action@v2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
